.mainContactSection {
  background-color: var(--concrete);
  padding: 48px 0;
  scroll-margin-top: var(--header-height);
}

.container {
  composes: container from global;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.socialTip {
  max-width: 280px;
  color: var(--dove-gray);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactTitle {
  margin-bottom: 16px;
  color: var(--mine-shaft);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.contactLink {
  color: var(--dove-gray);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  word-break: break-all;
  transition: color 0.2s;
}

.contactLink:hover,
.contactLink:focus-visible {
  color: var(--mine-shaft);
}

@media screen and (min-width: 769px) {
  .mainContactSection {
    padding: 64px 0;
  }

  .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    gap: 0;
  }

  .social {
    align-items: flex-start;
  }

  .socialTip {
    text-align: left;
  }

  .contact {
    align-items: flex-end;
  }

  .contactList {
    align-items: flex-end;
  }
}

@media screen and (min-width: 1025px) {
  .mainContactSection {
    padding: 80px 0;
  }
}
