.mainKnowledgeSection {
  padding: 48px 0;
  scroll-margin-top: var(--header-height);
}

.container {
  composes: container from global;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 1025px) {
}
