.mainProjectsSection {
  padding: 48px 0;
  scroll-margin-top: var(--header-height);
}

.container {
  composes: container from global;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 40px;
  color: var(--mine-shaft);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.projects {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr;
  gap: 56px;
}

@media screen and (min-width: 769px) {
  .mainProjectsSection {
    padding: 64px 0;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .mainProjectsSection {
    padding: 80px 0;
  }

  .projects {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
}
