.mainKnowledgeSection {
  padding: 48px 0;
  scroll-margin-top: var(--header-height);
}

.container {
  composes: container from global;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 56px;
}

@media screen and (min-width: 1025px) {
  .mainKnowledgeSection {
    padding: 64px 0;
  }

  .container {
    flex-wrap: nowrap;
  }
}
