.mainAboutSection {
  padding: calc(48px + var(--header-height)) 0 48px;
}

.container {
  composes: container from global;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailLeft {
  position: absolute;
  top: 64px;
  left: -88px;
  max-width: 224px;
  width: 35%;
  filter: blur(2px);
}

.detailRight {
  position: absolute;
  top: -36px;
  right: 8px;
  max-width: 68px;
  width: 13%;
  filter: blur(2px);
}

.headings {
  display: flex;
  flex-direction: column-reverse;
}

.title {
  max-width: 280px;
  margin-bottom: 24px;
  color: var(--mine-shaft);
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  line-height: 1.1;
}

.subtitle {
  margin-bottom: 16px;
  color: var(--tundora);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.description {
  max-width: 612px;
  margin-bottom: 48px;
  color: var(--emperor);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  z-index: 1;
}

.photo {
  max-width: 320px;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .mainAboutSection {
    padding: calc(64px + var(--header-height)) 0 64px;
  }

  .detailLeft {
    top: 48px;
    left: -72px;
  }

  .detailRight {
    top: -52px;
    right: 64px;
  }

  .title {
    max-width: none;
  }
}

@media screen and (min-width: 1025px) {
  .mainAboutSection {
    padding: calc(80px + var(--header-height)) 0 80px;
  }

  .detailLeft {
    top: 32px;
  }

  .detailRight {
    top: -68px;
  }

  .description {
    max-width: 752px;
  }

  .photo {
    max-width: 400px;
  }
}
