.mainCollaborationSection {
  padding: 48px 0 96px;
  scroll-margin-top: var(--header-height);
}

.container {
  composes: container from global;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 12px;
  color: var(--mine-shaft);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.description {
  max-width: 488px;
  margin-bottom: 48px;
  color: var(--emperor);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.companyLink {
  display: flex;
}

.companyLogo {
  max-width: 224px;
  width: 100%;
  max-height: 64px;
}

@media screen and (min-width: 769px) {
  .mainCollaborationSection {
    padding: 64px 0 128px;
  }

  .companies {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 56px;
  }
}

@media screen and (min-width: 1025px) {
  .mainCollaborationSection {
    padding: 80px 0 160px;
  }

  .companyLink {
    filter: grayscale(1) brightness(2) contrast(0.4);
    transition: filter 0.2s, transform 0.3s;
  }

  .companyLink:hover,
  .companyLink:focus-visible {
    filter: grayscale(0) brightness(1) contrast(1);
    transform: scale(1.05);
  }
}
