@import url('./variables.css');
@import url('./reset.css');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.screen {
  flex-grow: 1;
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.headerBackground {
  background-color: rgba(var(--white-rgb), 0.8);
  backdrop-filter: blur(8px);
}

::selection {
  background-color: rgba(var(--crusta-rgb), 0.07);
  color: var(--crusta);
}
