:root {
  --black: #000000;
  --black-rgb: 0, 0, 0;
  --mine-shaft: #333333;
  --tundora: #444444;
  --emperor: #555555;
  --dove-gray: #666666;
  --gray: #888888;
  --mercury: #e1e1e1;
  --concrete: #f2f2f2;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --crusta: #f97239;
  --crusta-rgb: 249, 114, 57;
  --poppins-font: 'Poppins', sans-serif;
  --container-width: 1200px;
  --container-padding: 24px;
  --header-height: 72px;
}
