.knowledgeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  width: 100%;
}

.iconWrapper {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin-bottom: 24px;
  border-radius: 50%;
  box-shadow: 0 0 40px 0 rgba(var(--black-rgb), 0.1);
}

.icon {
  width: 56px;
  color: var(--crusta);
}

.title {
  margin-bottom: 16px;
  color: var(--mine-shaft);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.description {
  margin-bottom: 24px;
  color: var(--emperor);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.pills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
