.languageMenu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.toggle:hover .icon,
.toggle:focus-visible .icon,
.isToggleSelected .icon {
  color: var(--mine-shaft);
}

.icon {
  width: 32px;
  color: var(--dove-gray);
  transition: color 0.2s;
}

.options {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

.option {
  color: var(--dove-gray);
  font-size: 16px;
  font-weight: 400;
  transition: color 0.2s;
}

.option:hover,
.option:focus-visible {
  color: var(--mine-shaft);
}

.isOptionSelected {
  color: var(--mine-shaft);
  font-weight: 600;
}
