.menu {
  composes: headerBackground from global;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - var(--header-height));
}

.container {
  composes: container from global;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLink {
  display: flex;
  padding: 8px 0;
  color: var(--gray);
  font-size: 22px;
  font-weight: 700;
  transition: color 0.3s;
}

.isNavLinkActive {
  color: var(--mine-shaft);
}

.social {
  padding: 24px 0;
  border-top: 1px solid var(--mercury);
}
