.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.social {
  transition: transform 0.3s;
}

.icon {
  width: 32px;
  color: var(--crusta);
}

.social:hover,
.social:focus-visible {
  transform: scale(1.2);
}
